.about {
  background-color: $color-grey-light-1;
  padding: 30rem 5rem;
  margin-top: -20vh;

  display: flex;
  flex-direction: column;
  // align-items: center;
  gap: 8rem;

  &__content-box {
    @include maxWidth;

    display: flex;
    justify-content: space-between;

    & > * {
      width: 45%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
  }

  &__text-box {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}

.features {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(/img/nat-4.jpg);
  background-size: cover;
  background-position: center;
  padding: 20rem 0;
  transform: skewY(-5deg);
  margin-top: -15rem;

  &__content {
    @include maxWidth;
    transform: skewY(5deg);

    display: flex;
    justify-content: space-between;
  }
}

.tours {
  background-color: $color-grey-light-1;
  padding: 20rem 0;
  margin-top: -10rem;

  &__content-box {
    @include maxWidth;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
  }

  &__content {
    align-self: stretch;
    display: flex;
    justify-content: space-between;
  }
}

.stories {
  position: relative;
  padding: 15rem 0;

  display: flex;
  flex-direction: column;
  gap: 8rem;

  &__content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
  }

  &__content {
    @include maxWidth;
    display: flex;
    flex-direction: column;
    gap: 6rem;
  }
}

.book {
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
  padding: 20rem 0;

  &__content-box {
    @include maxWidth;
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0,
        rgba($color-white, 0.9) 55%,
        transparent 55%
      ),
      url(/img/nat-10.jpg);
    background-size: cover;
    background-position: center;
    padding: 6rem 8rem;
    border-radius: 3px;
  }

  &__content {
    width: 45%;
  }
}
