.feature {
  width: 22%;
  padding: 2.5rem;
  background-color: rgba($color-white, 0.8);
  border-radius: 3px;
  text-align: center;
  transition: all 0.3s;
  box-shadow: $shadow-huge;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__icon {
    @include gradientText;

    font-size: 7rem;
    margin-bottom: -20px;
  }

  &:hover {
    transform: translateY(-2rem) scale(1.05);
  }
}
