@mixin clearfix {
  // clearfix가 하는 일은 의사 요소(:) 추가하는 것
  // 이거는 float 지우고 element 뒤에 놓을 거다.
  &::after {
    content: '';
    display: table; // clearfix의 표준
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait (세로)
900 - 1200px:   Tablet landscape (가로)
[1200 - 1800px] is where our normal styles apply
1800px - :      Big Desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
px 사용하는 대신 em을 사용하게 되면 사용자가 브라우저에서 설정한 글꼴 크기에 따라 적용되기 쉬움
*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    // 600px
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }

  @if $breakpoint == tab-port {
    // 900px
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint == tab-land {
    // 1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    // 1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}
