*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // 1rem이 무엇인지 정의한 것
  font-size: 62.5%;
  /*
  10px로 지정하면 1rem이 정확히 10px임을 명확하게 알 수 있음.
  그러나, px로 지정해놓으면 사용자가 확대 또는 축소를 해도 10px로 고정이 돼있기때문에 먹히지 않음.
  그래서 백분율을 계산해서 지정해놓는 방법을 사용해야함.
  100%를 넣으면 루트 font size는 16px을 의미.
  우리는 10px을 원하기 때문에 62.5% 지정. (0.625 * 16 = 10)
   */
}

body {
  box-sizing: border-box;
}
