:root {
  --background-color: #f7f7f7;
  --black-color: #152c07;
  --primary-color: #5ede99;
  --light-primary-color: #e9fce9;
  --yello-color: #efbe24;
  --white-color: #ffffff;
  --gray-color: #5d5c5d;
  --light-gray-color: #bebebe;
  --box-shadow: 0px 2px 10px rgba(51, 51, 51, 0.1);
}
.root {
  height: 100vh;
  background-color: var(--background-color);
  display: flex;
}
.header {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 48px;
}
.logo {
  width: 183px;
  height: 64px;
  background: url('/img/Logo_main.svg') no-repeat;
}
.main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 48px;
  position: relative;
  top: 184px;
  margin: 0px 15px;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 4px;
}
.description__text {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
  color: var(--black-color);
}
.intro-text {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
  color: var(--primary-color);
}
.register {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.register__input-block {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.register__input-block label {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: var(--black-color);
}
.register__input-block input:not(input[type='checkbox']) {
  box-sizing: border-box;
  height: 42px;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid var(--light-primary-color);
  font-size: 14px;
  line-height: 18px;
  color: var(--gray-color);
}
.register__input-block input:not(input[type='checkbox']):focus {
  outline: none;
  border: 1px solid var(--primary-color);
  box-shadow: var(--box-shadow);
}
.register__email-pw {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.register__email,
.register__password,
.register__confirm-password {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.register__check-privacy {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding-right: 20px;
}
.register__check-privacy input {
  margin: 0;
}
.register__button {
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  height: 38px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}
.sign-in {
  text-align: center;
  color: var(--primary-color);
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}
.sign-in a {
  color: var(--primary-color);
  font-weight: bold;
}
